.introBox {
  font-size: 2*var(--base-font-size);
  animation: 1s anim-lineUp ease-out forwards;
}

.introText {
  font-size: 2*var(--base-font-size);
}

.nameDiv {
  display: inline-block;
  transition: all 300ms;
  font-size: 4*var(--base-font-size);
  white-space: pre;
}

.nameDiv:hover {
  transform: rotateZ(-10deg);
  -webkit-text-fill-color: var(--top-text-color);
}

.summary {
  min-width: 300px;
  font-size: 1.5*var(--base-font-size);
  animation: 1s anim-lineUp 200ms ease-out forwards;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.coloredText {
  font-size: calc(1.5em + 2vmin);
  background-image: linear-gradient(
    45deg,
    var(--color1) 0%,
    var(--color2) 29%,
    var(--color3) 67%,
    var(--color4) 100%
  );
  background-clip: border-box;
  background-size: 40% auto;
  color: black;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s alternate infinite;
}

@keyframes textclip {
  to {
    background-position: 80% center;
  }
}

.socIcons {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  animation: 1s anim-lineUp 200ms ease-out forwards;
}

.socIcons span {
  transform: translateX(50%);
}

.fa {
  text-align: center;
  text-decoration: none;
  transition: all 1s;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* social icons */

.fa-linkedin {
  text-shadow: 0 0 15px #2867B2;
  color: #2867B2;
}

.fa-github {
  text-shadow: 0 0 15px #6e5494;
  color: #6e5494;
}

.fa-envelope {
  text-shadow: 0 0 15px rgb(134, 41, 41);
  color: rgb(134, 41, 41);
}

.imgsection {
  opacity: 0;
  animation: 1s anim-lineUp 800ms ease-out forwards;
}

.visible {
  opacity: 1;
}

.myimg {
  width: 80%;
  height: 80vh;
  aspect-ratio: 1;
  object-fit: cover;
}

/* svg props */

.svgbg{
  fill: var(--background-color);
}

.banana {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  min-width: 300px;
}

@media screen and (max-width: 576px) {
  .banana {
    row-gap: 5vh;
  }
}