.navbar {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-size: calc(0.5em + 0.75vmin);
    align-items: center;
    justify-content: space-evenly;
  }
  
  .navbar > a {
    text-decoration: none;
    color: inherit;
    text-align: left;
    height: auto;
    transition: all 0.2s;
  }

  .navbar > div > a {
    text-decoration: none;
    color: inherit;
    text-align: left;
    height: auto;
    transition: all 0.2s;
  }

  .navbar > a:hover {
    font-size: larger;
  }

  #toggler {
    text-align: center;
  }

  #toggler svg {
    width: 1em;
    height: 1em;
  }