.skilltiltCard {
    position: relative;
    border: 3px transparent lime;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0rem;
    align-self: center;
    align-items: center;
    width: 30vw;
    min-width: 300px;
    margin: 1%
}


.skillpokemonCard {
    --perspective: 500px;
    --rotateX: 0deg;
    --rotateY: 0deg;

    grid-column: 1 / -1;
    grid-row: 1 / -1;

    align-self: center;

    border-radius: 5px;
    box-shadow: 1px 4px 4px 4px var(--card-border-box-shadow);
    padding: 2%;
    background-color: var(--card-border-color);

    transform: 
        perspective(var(--perspective))
        rotateX(var(--rotateX))
        rotateY(var(--rotateY));

    transition: all 400ms;
}

.skillmouse-pointer {
    position: absolute;
    inset: 0;
    z-index: 2;
    opacity: 0.2;
}

.skillchild0:hover ~ .skillpokemonCard {
    --rotateX: 10deg;
}

.skillchild1:hover ~ .skillpokemonCard {
    --rotateX: 10deg;
    --rotateY: -10deg;
}

.skillchild2:hover ~ .skillpokemonCard {
    --rotateX: 10deg;
    --rotateY: 10deg;
}

.skillchild3:hover ~ .skillpokemonCard {
    --rotateX: 0deg;
}

.skillchild4:hover ~ .skillpokemonCard {
    --rotateY: -10deg;
}

.skillchild5:hover ~ .skillpokemonCard {
    --rotateY: 10deg;
}

.skillchild6:hover ~ .skillpokemonCard {
    --rotateX: -10deg;
}

.skillchild7:hover ~ .skillpokemonCard {
    --rotateX: -10deg;
    --rotateY: -10deg;
}

.skillchild8:hover ~ .skillpokemonCard {
    --rotateX: -10deg;
    --rotateY: 10deg;
}


/* last column */
.skillmouse-pointer:nth-of-type(3n) {
    grid-column: 3/4;
}

/* middle column */
.skillmouse-pointer:nth-of-type(3n+1) {
    grid-column: 2/3;
}

/* first column */
.skillmouse-pointer:nth-of-type(3n+2) {
    grid-column: 1/2;
}

/* first row */
.skillmouse-pointer:nth-child(n+1):nth-child(-n+3){
    grid-row: 1/2;
}

/* middle row */
.skillmouse-pointer:nth-child(n+4):nth-child(-n+6) {
    grid-row: 2/3;
}

/* last row */
.skillmouse-pointer:nth-child(n+7):nth-child(-n+9) {
    grid-row: 3/4;
}

.skillcardBody {
    background-image: linear-gradient(to bottom right, var(--card-color1), var(--card-color2));
    width: 100%;
    max-height: 95%;
    border-radius: 5px;
    align-content: center;
}

.skillskillType {
    border-radius: 2px 0px 2px 0px;
    background-color: var(--card-desc-bg-color);
    width: fit-content;
    padding: 2px;
    -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    animation: shine 3s infinite;
    opacity: 1;
}

@keyframes shine {
    0% {
        mask-position: 120%;
    }
    100% {
        mask-position: 0%;
    }
}

.skilltechIKnow {
    font-family: monospace;
    font-style: italic;
    text-align: center;
    font-size: calc(0.5em + 0.5vmin);
}

.skillnameYoe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2%;
}

.skillnameYoe .skillskillName {
    text-align: start;
}

.skillnameYoe .skillyoe span {
    font-size: clamp(12px,calc(0.5em + 0.5vmin),20px);
}

.skillnameYoe .skillyoe {
    text-align: end;
}


.skillskillDesc {
    padding: 2%;
    height: 2em;
    border-radius: 5px;
    background-color: var(--card-desc-bg-color);
    margin: 2%;
    font-size: clamp(12px,calc(0.5em + 0.5vmin),20px);
}

.skillskillImg {
    width: 80%;
    aspect-ratio: 1;
    padding: 10%;
    object-fit: cover;
}